<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>

  <body>
    <header>
      {% include 'navbar.html' %}
      <main>
        <div>
          <h1>Student Performance Predictor</h1>
          <form method="POST" , action="/predict">
            <input type="hidden" name="project_name" value="projectA" />
            <label for="Hours_Studied">Hours Studied</label>
            <input
              type="text"
              name="Hours_Studied"
              id="Hours_Studied"
              value="{{ student.Hours_Studied if student else '' }}"
            />

            <label for="Previous_Score">Previous Score</label>
            <input
              type="text"
              name="Previous_Score"
              id="Previous_Score"
              value="{{ student.Previous_Score if student else '' }}"
            />

            <label for="Extracurricular_Activities"
              >Extracurricular Activities</label
            >
            <input
              type="text"
              name="Extracurricular_Activities"
              id="Extracurricular_Activities"
              value="{{ student.Extracurricular_Activities if student else '' }}"
            />

            <label for="Sleep_Hours">Sleep Hours</label>
            <input
              type="text"
              name="Sleep_Hours"
              id="Sleep_Hours"
              value="{{ student.Sleep_Hours if student else '' }}"
            />

            <label for="Sample_Question_Papers_Practiced"
              >Sample Question Papers Practiced</label
            >
            <input
              type="text"
              name="Sample_Question_Papers_Practiced"
              id="Sample_Question_Papers_Practiced"
              value="{{ student.Sample_Question_Papers_Practiced if student else '' }}"
            />

            <button type="submit">Submit</button>
            {% if prediction %}
            <p>Prediction: {{ prediction }}</p>
            {% endif%}
          </form>
        </div>
      </main>
    </header>
    {% include 'footer.html' %}
  </body>
</html>
