<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ title | default("Portfolio") }}</title>

<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />

<!-- font import -->
<!-- Zain -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap"
  rel="stylesheet"
/>
<!-- Merindo -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Zain:wght@200;300;400;700;800;900&display=swap"
  rel="stylesheet"
/>

<!-- style link -->
<link rel="stylesheet" href="/static/style.css?v=1.0.1" />
<!-- Icons -->
<script
  src="https://kit.fontawesome.com/bcff5140a3.js"
  crossorigin="anonymous"
></script>
