<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a href="/" aria-label="Home">Home</a>
    </li>
    <li class="navbar-item">
      <a href="#about" aria-label="About Us">About</a>
    </li>
    <div class="logo" id="theme-toggle">
      <img src="/static/SVGs/star.svg" alt="Logo" height="30" width="30" />
    </div>
    <li class="navbar-item">
      <a href="/certificates" aria-label="Our Portfolio">Certificates</a>
    </li>
    <li class="navbar-item">
      <a href="#footer" aria-label="Contact Us">Contact</a>
    </li>
  </ul>
</nav>
